/*header*/

header {
  padding-top: 15px;
  padding-bottom: 10px;
  background: #2e7bcf url(../images/background.jpg) 0 0 repeat-x;
  border-bottom: solid 1px #275da1;
  text-align: center;
  position: fixed;
  z-index: 2;
  width: 100%;
  overflow: hidden;
  top: 0;
  box-shadow: 0 10px 15px -5px rgba(108, 123, 139, 0.4);
}

header h1{
  margin: 0.3em auto;
  font-size: 2.5em;
  font-weight: bold;
  line-height: 1.2;
  color: #fff;
  letter-spacing: -1px;
  
}
header h2 {
  margin-top: 0;
  margin-bottom: 0.8em;
  font-size: 1.3em;
  font-weight: normal;
  line-height: 1.3;
  color: #9ddcff;
  letter-spacing: 0;
}
header h3 {
  margin-top: 0;
  margin-bottom: 0.1em;
  font-size: 0.8em;
  font-weight: normal;
  line-height: 1;
  color: #9ddcff;
  letter-spacing: 0;
}

.inner{
  position: relative;
  width: 100%;
  font-size: 1.1em;
  margin: 0 auto;
}
/*---------------------------------------------------------------------*/
/*footer*/

footer {
  padding-top: 5px;
  padding-bottom: 10px;
  background-color: #eee;
  border-top: solid 1px #275da1;
  text-align: center;
  position: fixed;
  z-index: 2;
  width: 100%;
  overflow: hidden;
  bottom: 0;
  box-shadow: 0 10px 15px 5px rgba(108, 123, 139, 0.4);
}

.inner_footer{
  position: relative;
  width: 100%;
  font-size: 1.1em;
  margin: 0 auto;
}

/*---------------------------------------------------------------------*/
.toc-content h1, h2, h3, h4, h5 {
  color: #474747;
}

.toc-content h2 {
  font-size: 1.7em;
  font-weight: bold;
}

.toc-content h3 {
  font-size: 1.1em;
  font-weight: bold;
}

/*--------------------------------------------------------------------*/
.toc-content{
  position: relative;
  z-index: 1;
}

.main-container{
  margin-top:140px;
}

.tocify {
  display: table;
}

/*--------------------------------------------------------------------*/
body{
  font-size: 12px;
}

blockquote{
  font-size: 1em;
}

hr{
  margin-top: 10px;
  margin-bottom: 10px;
  border-top: 2px solid #eee;
}

.table {
    margin: auto;
    max-width: 80%;

}

.tocify{
  border: 0px solid;
  border-top: 2px solid #275da1;
  border-radius: 5px;
  border-bottom: 2px solid #275da1;
  color: #474747;
  font-weight: 600;
}

.tocify-subheader{
  font-weight: 500;
}

.tocify .tocify-item a, .tocify .list-group-item{
  padding: 0px;
}

.list-group-item.active{
  background-color: #2f7acd;
}

.list-group-item.active:hover{
  background-color: #2f7acd;
}

.list-group-item:hover{
  background-color: #9ddcff;
}

/* for blocks */
.rmdcaution, .rmdinsight, .rmdexercise, .rmdtip {
  padding: 1em 1em 1em 4em;
  margin-bottom: 5px;
  
} 

.rmdcaution {
  
  background: #f2dede url(../images/icons/caution.png) 5px/3em no-repeat;
  border: 1px solid #a94442;/*#104E8B;*/
  border-radius: 5px;
}
.rmdinsight {
  background-image: url("../images/icons/insight.png");
  background: #f5f5f5 5px center/3em no-repeat;
}
.rmdexercise {
  background-image: url("../images/icons/exercise.png");
  background: #f5f5f5 5px center/3em no-repeat;
}
.rmdtip {
  background-image: url("../images/icons/tip.png");
  background: #f5f5f5 5px center/3em no-repeat;
}

.kable_wrapper {
  border-spacing: 20px 0;
  border-collapse: separate;
  border: none;
  margin: auto;
}
.kable_wrapper > tbody > tr > td {
  vertical-align: top;
}

/* for results table 

td.details-control{
  background: url(../results/imgs/details_open_16.png) no-repeat center center;
  cursor: pointer;
}

.shown td.details-control{
  background: url(../results/imgs/details_close_16.png) no-repeat center center;

}

*/
