body {
  font-family: "Source Sans Pro", "Helvetica Neue", Helvetica Neue, Helvetica, Arial, sans-serif;
  background-color:#fff;
  font-size:12px;
  font-weight: normal;
  color: #404040;
}

html, body, .footerPushDown {
  height: 100%;
}

body h1{
  font-size: 1.4em;
  font-weight:600;
}

body h2{
  font-size: 1.25em;
  font-weight:600;
}

body h3{
  font-size: 1.15em;
  font-weight:600;
}

body h4{
  font-size: 1em;
  font-weight:600;
}

.subtitle{
  font-size: 1.6em;
  font-weight:600;
}


p {
  line-height: 1.7em;
  margin-bottom: 1em;
}

.tocify-subheader .list-group[data-tag="3"] .tocify-item{
  padding-left:30px;
  font-size:0.85em;
}

/*header*/

header {
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: #eee;
  border-bottom: solid 1px #6C7B8B;
  text-align: left;
  position: fixed;
  z-index: 2;
  width: 100%;
  overflow: hidden;
  top: 0;
  box-shadow: 0 10px 15px -5px rgba(108, 123, 139, 0.4);
}

header h1{
  margin: 0.3em auto;
  font-size: 1.5em;
  font-weight: bold;
  line-height: 1.2;
  color: #fff;
  letter-spacing: -1px;
  
}

.inner_labs{
  position: relative;
  width: 100%;
  font-size: 1.1em;
  margin: 0 auto;
}

.toc-content{
  position: relative;
  z-index: 1;
}

.main-container{
  margin-top: 5em;
}


/*---------------------------------------------------------------------*/
/*footer*/

footer {
  padding-top: 5px;
  padding-bottom: 10px;
  background-color: #fff;
  border-top: solid 1px #275da1;
  text-align: center;
  position: absolute;
  width: 90%;
  bottom: 0;
}

.inner_footer{
  width: 100%;
  font-size: 1.1em;
  margin: 0 auto;
}
/*---------------------------------------------------------------------*/
/*---------------------------------------------------------------------*/

/* for blocks */
.rmdcaution, .rmdinsight, .rmdexercise, .rmdtip {
  padding: 1em 1em 1em 4em;
  margin-bottom: 10px;
  background: #9FB6CD 5px center/3em no-repeat;
  background-color: rgba(159,182,205, 0.4);
  border:  1px #6C7B8B solid;;
  border-radius: 5px;
} 
.rmdcaution {
  background-image: url("../images/icons/caution.png");
}
.rmdinsight {
  background-image: url("../images/icons/insight.png");
}
.rmdexercise {
  background-image: url("../images/icons/exercise.png");
}
.rmdtip {
  background-image: url("../images/icons/tip.png");
}
.kable_wrapper {
  border-spacing: 20px 0;
  border-collapse: separate;
  border: none;
  margin: auto;
}
.kable_wrapper > tbody > tr > td {
  vertical-align: top;
}

/*==================================================*/

.table {
    margin: auto;
    width: 40%;

}

.tocify{
  border: 0px solid;
  color: #9FB6CD;
}

.list-group-item.active{
  background-color: transparent;
  font-weight:600;
  color: #6C7B8B;
}

.list-group-item.active:hover{
  background-color: transparent;
  font-weight:600;
  color: #6C7B8B;
}

/*--------------------------------------------------*/
blockquote{
  font-size:1em;
  text-align: justify;
  border-color: #9FB6CD;
}